body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #dee0e640;
}

h1 {
  font-size: 72px;
  border: 5px solid rgba(255, 255, 255, 0);
  text-align: center;
}

.form-color {
  display: flex;
  justify-content: center;
}